[opener]
edit = [
	{ run = 'nvim "$@"', desc = "VIM_Editor", block = true, for = "unix" },
]

pdf_open = [
	{ run = 'chromium "$@" &> /dev/null 2>&1 & ', desc = "chromiun pdf reader", block = true, for = "unix" },
]

kicad_sch_open = [
	{ run = 'eeschema "$@" &> /dev/null 2>&1 & ', desc = "kicad schematic editor", block = true, for = "unix" },
]

kicad_pcb_open = [
	{ run = 'pcbnew "$@" &> /dev/null 2>&1 & ', desc = "kicad pcb editor", block = true, for = "unix" },
]

cubemx=[
{run='~/application/CubeMX/STM32CubeMX "$@" &> /dev/null 2>&1 & ',dest="cubemx ioc opener",block=true,for="unix"}
]


[open]
prepend_rules = [
	{ name = "*.pdf", use = "pdf_open" },
	{ name = "*.ioc", use = "cubemx" },
	{ name = "*.kicad_sch", use = "kicad_sch_open" },
	{ name = "*.kicad_pcb", use = "kicad_pcb_open" },
	{ name = "*.wldlablog", use = "edit" },
]
[preview]
previewer=[
  { name = "*.wldlablog", exec = "code", sync = true },
]
[[plugin.prepend_previewers]]
name = "*.wldlablog"
run  = "code"

# [[plugin.prepend_fetchers]]
# id   = "git"
# name = "*"
# run  = "git"
#
# [[plugin.prepend_fetchers]]
# id   = "git"
# name = "*/"
# run  = "git"
